.ulStyle {
  list-style: none;
}

.div1Style {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  background-color: lightblue;
  padding: 20px;
}

.li1Style{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
    cursor: pointer;
}

.btnStyle{
    width: 100px;
    height: 30px;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid chocolate;
    border-radius: 10px;
    margin-left: 35px;
    cursor: pointer;
}

.btnStyle:hover{
   scale: 1.05;
}